@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .landing h1 {
    font-weight: bolder;
    color: white;
  }
  .landing h2 {
    font-weight: normal;
    color: white;
  }
  .landing button {
    color: white;
    background-color: #004aad;
    text-align: center;
  }
  .landing button:hover {
    color: black;
    background-color: #bde7ff;
  }
  .landing username {
    font-size: xx-large;
  }
  .landing date {
    font-size: medium;
  }
  .landing content {
    font-size: x-large
  }
}
